<%- include('partials/header') %>
<%- include('partials/adminSide') %>

<main class="mt-5 pt-3">
  <h4 class="ms-3">Manage Categories</h4>
    <div class="ms-3">
        <form class="form-inline" action="/addCategory" method="post">
          <div class="row">
            <div class="form-group col-lg-6">
              <input type="text" class="form-control" name="name" placeholder="Add category" autocomplete="off" required>
            </div>
            <div class="col-lg-3">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
            
          </div>
          </form>
    </div>
    <div class="ms-3 me-3 mt-3">
        <table class="table" id="dt-table">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <tbody>
      
            <% items.forEach(function(item){ %>
              <tr>
                
                <td><%= item.name%></td>
               
                <td><a href="/deleteCategory/<%=item._id%>" class="text-decoration-none" onclick="ConfirmDelete()">Delete</a></td>
              </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
</main>

<script>
    $(document).ready(function() {
      $('#dt-table').DataTable({
      pageLength: 5,
      paging: true,
      filter: true,
      deferRender: true,
      scrollY: 200,
      scrollCollapse: true,
      scroller: true,
      "searching": true,
      });
    } );

    function ConfirmDelete()
{
  return confirm("Are you sure you want to delete?");
}
  
  </script>

<%- include('partials/footer') %>