<%- include('partials/header') %>
<%- include('partials/sidenav') %>
  <main class="mt-5 pt-3 ms-5">
      <h3><%=entryDate%></h3>
          <h6>Content</h6>
          <p><%=content%></p>
          <h6>Reflection</h6>
          <p><%=reflection%></p>
          <h6>Mood</h6>
          <%if(mood==3){%>
            <i class="bi bi-emoji-smile ms-3"></i>
          <%}else if(mood==2){%>
            <i class="bi bi-emoji-neutral ms-3"></i>
          <%}else{%>
            <i class="bi bi-emoji-frown ms-3"></i>
          <%}%>
  </main>

<%- include('partials/footer') %>