<%- include('partials/header') %>
<%- include('partials/sidenav') %>
<main  class="mt-5 pt-3">
  <div class="ms-3 mb-3">
    <div class="d-grid gap-2 d-md-flex">
        <button class="btn btn-outline-secondary me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add new activity</button>
      </div>
    </div>
    <div class="ms-3 me-3">
      <h4>Sobriety Details</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">Action</th>  
            </tr>
          </thead>
          <tbody>
            <% items.forEach(function(soberDetails){ %>
              <% soberDetails.forEach(function(detail){ %>
                <%if(detail.user){%>
                  <tr>
                    <td><%=detail.name%></td>
                    <td><%=detail.startDate%></td>
                    <td><a href="/deleteSD/?id=<%=detail._id%>" onclick="ConfirmDelete()"><i class="bi bi-trash ms-3"></i></a></td>
                  </tr>
                <% } %>
              <% }); %>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
</main>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form action="/soberDetails" method="post">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Action</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="mb-3">
                <label for="habitName" class="form-label">Action Name</label>
                <input list="sborietyname" type="text" name="soberName" id="habitName" class="form-control" required autocomplete="off">
                  <datalist id="sborietyname">
                  
                  <% items.forEach(function(item){ %>
                    <% item.forEach(function(sobriety){ %>
                      <%if(sobriety.type){%>
                    <option value="<%=sobriety.name%>"><%=sobriety.name%></option>
                      <% } %>
                    <% }); %>
                  <% }); %>
                  </datalist>
                  <div id="inputHelp" class="form-text">If there is nothing that matches your habit. Please type in.</div>
                </div>

              <div class="mb-3">
                <label for="exampleFormControlTextarea1">Reason for getting rid of that impulsive activity</label>
                <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="8" name="reason"></textarea>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
  </form>
</div>
<script>
function ConfirmDelete()
{
  return confirm("Are you sure you want to delete?");
}
</script>

<%- include('partials/footer') %>