<%- include('partials/header') %>
<%- include('partials/adminSide') %>

<main class="mt-5 pt-3">
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Habit</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Sobriety</button>
      <button class="nav-link" id="journal-tab" data-bs-toggle="tab" data-bs-target="#nav-journal" type="button" role="tab" aria-controls="journal" aria-selected="false">Journal</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="ms-3 me-3 mt-3">
        <table class="table" id="dt-table1">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Conditions</th>
              <th scope="col">Points</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              <% achievements.forEach(function(achievement){ %>
                  <tr>
                    <td><%= achievement.name%></td>
                    <td><%= achievement.conditions%></td>
                    <td><%= achievement.points%></td>
                    <td><a href="/deleteAchievements/<%= achievement._id%>" class="text-decoration-none" onclick="ConfirmDelete()">Delete</a></td>
                  </tr>
                  <% }); %>
          </tbody>
        </table>
      </div>
      
      

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="ms-3 me-3 mt-3">
        <table class="table" id="dt-table2">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Conditions</th>
              <th scope="col">Points</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              <% achievements.forEach(function(achievement){ %>
                <%if(achievement.category=="habit"){%>
                  <tr>
                    <td><%= achievement.name%></td>
                    <td><%= achievement.conditions%></td>
                    <td><%= achievement.points%></td>
                    <td><a href="/deleteAchievements/<%= achievement._id%>" class="text-decoration-none" onclick="ConfirmDelete()">Delete</a></td>
                  </tr>
                <%}%>
                  <% }); %>
          </tbody>
        </table>
      </div>
      


    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="ms-3 me-3 mt-3">
        <table class="table" id="dt-table3">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Conditions</th>
              <th scope="col">Points</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              <% achievements.forEach(function(achievement){ %>
                <%if(achievement.category=="sobriety"){%>
                  <tr>
                    <td><%= achievement.name%></td>
                    <td><%= achievement.conditions%></td>
                    <td><%= achievement.points%></td>
                    <td><a href="/deleteAchievements/<%= achievement._id%>" class="text-decoration-none" onclick="ConfirmDelete()">Delete</a></td>
                  </tr>
                <%}%>
                  <% }); %>
          </tbody>
        </table>
      </div>
      
    </div>
    <div class="tab-pane fade" id="nav-journal" role="tabpanel" aria-labelledby="journal-tab">
      <div class="ms-3 me-3 mt-3">
        <table class="table" id="dt-table4">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Conditions</th>
              <th scope="col">Points</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              <% achievements.forEach(function(achievement){ %>
                <%if(achievement.category=="journal"){%>
                  <tr>
                    <td><%= achievement.name%></td>
                    <td><%= achievement.conditions%></td>
                    <td><%= achievement.points%></td>
                    <td><a href="/deleteAchievements/<%= achievement._id%>" class="text-decoration-none" onclick="ConfirmDelete()">Delete</a></td>
                  </tr>
                <%}%>
                  <% }); %>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</main>
<script>
  $(document).ready(function() {
    $('#dt-table1').DataTable({
    pageLength: 5,
    paging: true,
    filter: true,
    deferRender: true,
    scrollY: 200,
    scrollCollapse: true,
    scroller: true,
    "searching": true,
    });
  } );

  $(document).ready(function() {
    $('#dt-table2').DataTable({
    pageLength: 5,
    paging: true,
    filter: true,
    deferRender: true,
    scrollY: 200,
    scrollCollapse: true,
    scroller: true,
    "searching": true,
    });
  } );

  $(document).ready(function() {
    $('#dt-table3').DataTable({
    pageLength: 5,
    paging: true,
    filter: true,
    deferRender: true,
    scrollY: 200,
    scrollCollapse: true,
    scroller: true,
    "searching": true,
    });
  } );

  $(document).ready(function() {
    $('#dt-table4').DataTable({
    pageLength: 5,
    paging: true,
    filter: true,
    deferRender: true,
    scrollY: 200,
    scrollCollapse: true,
    scroller: true,
    "searching": true,
    });
  } );
  function ConfirmDelete()
{
  return confirm("Are you sure you want to delete?");
}

</script>

<%- include('partials/footer')%>